<div class="about">
    <h1><%= title %></h1>
    <div class="about-content">
      <div class="about-image">
        <img src="/images/headshot.webp" alt="headshot" />
      </div>
      <div class="about-info">
        <p>
          Hello! I'm Erica Collins, a dedicated Front-end Developer with over 3 years of experience. I've had the privilege of contributing to diverse sectors including employee engagement, logistics, and cryptocurrency. For a detailed view of my skills and accomplishments, please check out my <a href="">resume.</a>
        </p>
      </div>
    </div>
  </div>